<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>MotriLog – Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" />
  </head>

  <body class="dashboard-page">
    <div class="bg-image"></div>

    <header class="app-header">
      <div class="brand-logo" onclick="window.location.href='/'" style="cursor: pointer">
        MotriLog
      </div>
      <div class="header-buttons">
        
        {% if user_role == 'admin' %}
        <a href="/admin" class="btn-workshops" style="background: #ff4757; border: none; margin-right: 10px;">
             Admin Panel
        </a>
        {% endif %}
        
        <a href="/workshops" class="btn-workshops">🔧 Workshops</a>
        <button id="logout-btn" class="btn-ghost">Logout</button>
      </div>
    </header>

    <main class="content">
      <section class="dashboard-card">
        <div class="card-header">
          <h1 class="title">My Vehicles</h1>
          <a href="/addvehicle" class="btn-primary-pill"> + Add Vehicle </a>
        </div>
        <div id="vehicles-list" class="vehicles-grid">
            <p>Loading...</p>
        </div>
      </section>
    </main>

    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
  </body>
</html>
