<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>MotriLog – Login</title>
    <link rel="stylesheet" href="../static/css/login.css" />
  </head>

  <body class="login-page">
    <!-- TEXT LOGO TOP-LEFT -->
    <a href="/" class="text-logo">MotriLog</a>

    <!-- LOGIN CARD -->
    <div class="login-card">
      <h1 class="title">Welcome Back</h1>

      <form id="login-form" class="form">
        <div class="form-group">
          <label class="input-label" for="login-email">Email Address</label>
          <input
            type="email"
            id="login-email"
            name="email"
            placeholder="Enter your email"
            required
          />
          <span class="password-toggle" id="toggle-login-password">👁️</span>
          
        </div>

        <div class="form-group">
          <label class="input-label" for="login-password">Password</label>
          <input
            type="password"
            id="login-password"
            name="password"
            placeholder="Enter your password"
            required
          />
        </div>

        <p id="login-error" class="error-text" hidden></p>

        <button type="submit" class="btn-primary">LOG IN SECURELY</button>
      </form>

      <p class="register-text">
        Don’t have an account?
        <a href="register">Register</a>
      </p>
    </div>

    <script src="../static/js/auth.js"></script>
  </body>
</html>
