<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MotriLog</title>
    
     <link rel="stylesheet" href="../static/css/main_page.css" />
    <script
      defer
      src="{{ url_for('static', filename='js/main_page.js') }}"
    ></script>
  </head>

  <body>
    <!-- NAVBAR -->
    <div class="navbar">
      <div class="logo">MotriLog</div>

      <div class="nav-links">
        <a href="#features-section">Features</a>
        <a href="#pricing-section">Pricing</a>
        <a href="#support-section">Support</a>
      </div>

      <div id="auth-buttons" class="auth-buttons">
        <a href="/login" class="login-btn">Login</a>
        <a href="/register" class="register-btn">Register</a>
      </div>
    </div>

    <!-- HERO -->
    <div class="hero">
      <div class="hero-overlay"></div>
      <div class="hero-content">
        <h1>Effortless Service Tracking</h1>
        <p>Keep a complete digital history for all your vehicles.</p>
      </div>
    </div>

    <!-- FEATURES SECTION -->
    <div class="features" id="features-section">
      <div class="feature-card">
        <img
          src="https://cdn-icons-png.flaticon.com/512/2921/2921222.png"
          alt=""
        />
        <h3>Effortless Tracking</h3>
        <p>
          Log maintenance, set reminders, and keep a full digital history of
          your vehicles.
        </p>
      </div>

      <div class="feature-card">
        <img
          src="https://cdn-icons-png.flaticon.com/512/854/854878.png"
          alt=""
        />
        <h3>Find Local Workshops</h3>
        <p>
          Discover trusted service centers near you and read real customer
          reviews.
        </p>
      </div>

      <div class="feature-card">
        <img
          src="https://cdn-icons-png.flaticon.com/512/1828/1828817.png"
          alt=""
        />
        <h3>Stay Organized & Informed</h3>
        <p>
          Access key vehicle stats, mileage, and manage documents all in one
          place.
        </p>
      </div>
    </div>

    <!-- PRICING -->
    <div class="section-space" id="pricing-section">
      <h2>Pricing</h2>
      <p>We will add pricing plans soon.</p>
    </div>

    <!-- SUPPORT -->
    <div class="section-space" id="support-section">
      <h2>Support</h2>
      <p>Need help? Contact us anytime.</p>
    </div>

    <!-- FOOTER -->
    <div class="footer">
      <a href="#">About Us</a>
      <a href="#">Terms</a>
      <a href="#">Privacy Policy</a>
      <div style="margin-top: 10px">© 2025 MotriLog – All Rights Reserved.</div>
    </div>
  </body>
</html>
